<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>{{title}}</title>

    <!-- Custom fonts for this template-->
    <link href="{{URL}}/assets/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link
        href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
        rel="stylesheet">
    
        <!-- Preloader styles for this template-->
        <link href="{{URL}}/assets/preloader/preloader.css" rel="stylesheet">

    <!-- Custom styles for this template-->
    <link href="{{URL}}/assets/css/sb-admin-2.min.css" rel="stylesheet">
    
    <link rel="stylesheet" href="{{URL}}/assets/bootstrap/css/bootstrap.min.css">

</head>

<body class="bg-gray-200" role="document" onload="preloader()">

    <!-- Page Preloder -->
    <div id="preloader"></div>
    
    <!-- Preloader JavaScript-->
    <script src="{{URL}}/assets/preloader/preloader.js"></script>

    <div class="container">

        <!-- Outer Row -->
        <div class="row justify-content-center">

            <div class="col-xl-6 col-lg-6 col-md-9">

                <div class="card o-hidden border-0 shadow-lg my-5">
                    <div class="card-body p-2">
                        <!-- Nested Row within Card Body -->
                        <div class="row">
                            <div class="col-12">
                                <div class="p-5">
                                    {{content}}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

        </div>

    </div>

    <!-- Bootstrap core JavaScript-->
    <script src="{{URL}}/assets/vendor/jquery/jquery.min.js"></script>
    <script src="{{URL}}/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Core plugin JavaScript-->
    <script src="{{URL}}/assets/vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Custom scripts for all pages-->
    <script src="{{URL}}/assets/js/sb-admin-2.min.js"></script>

</body>

</html>